 

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>


<h2>Error Occured as : @ViewData["ErrorMessage"]</h2>
<h2>Action Name : @ViewData["ActionName"]</h2>
<h2>Controller Name: @ViewData["ControllerName"]</h2>

<a asp-action='@ViewData["ActionName"]' asp-controller='@ViewData["ControllerName"]'>Go Back</a> 
